In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [97]:
total_players = len(purchase_data['SN'].value_counts())
total_players

576

In [98]:
unique_games = len(purchase_data['Item ID'].value_counts())
unique_games

179

In [99]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [27]:
number_purchases = len(purchase_data['Purchase ID'].value_counts())
number_purchases

780

In [28]:
average_price = total_revenue / number_purchases
average_price

3.0509871794871795

In [33]:
summary_info = {'Number of Unique Items' : [unique_games],
             'Average Price' : [average_price.round(2)],
             'Number of Purchases' : [number_purchases],
             'Total Revenue' : [total_revenue]}
summary_info_table = pd.DataFrame(summary_info)
display(summary_info_table)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [55]:
gender_df = purchase_data.groupby(["Gender"])
gender_df

In [87]:
gender_total_unique = gender_df["Purchase ID"].nunique()
gender_total_unique

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [88]:
male_purchase_count = 652
female_purchase_count = 113
other_purchase_count = 15

In [85]:
gender_total_unique = gender_df['SN'].nunique()
gender_total_unique

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [64]:
male_unique = 484
female_unique = 81
other_unique = 11
unique_total = male_unique + female_unique + other_unique

In [101]:
male_percentage = male_unique / unique_total
female_percentage = female_unique / unique_total
unique_percentage = other_unique / unique_total

In [76]:
summary_gender = {'Total Count' : [male_unique, female_unique, other_unique],
             'Percentage of Players' : [male_percentage, female_percentage, unique_percentage]
}
summary_gender_table = pd.DataFrame(summary_gender)
display(summary_gender_table)

   Total Count  Percentage of Players
0          484               0.840278
1           81               0.140625
2           11               0.019097

In [84]:
gender_counts_sum = gender_df['Price'].sum()
gender_counts_sum

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [92]:
male_total_revenue = 1967.64
female_total_revenue = 361.94
other_total_revenue = 50.19
male_avg_price = male_total_revenue / male_purchase_count
female_avg_price = female_total_revenue / female_purchase_count
other_avg_price = other_total_revenue / other_purchase_count
male_avg_person = male_total_revenue / male_unique
female_avg_person = female_total_revenue / female_unique
other_avg_person = other_total_revenue / other_unique

In [96]:
summary_gender_purch = {'Purchase Count' : [female_purchase_count, male_purchase_count, other_purchase_count],
             'Average Purchase Price' : [female_avg_price, male_avg_price, other_avg_price],
                        'Total Purchase Value': [female_total_revenue, male_total_revenue, other_total_revenue],
                        'Avg Total Purchase per Person': [female_avg_person, male_avg_person, other_avg_person]
}
summary_purch_table = pd.DataFrame(summary_gender_purch)
display(summary_purch_table)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,113,3.203009,361.94,4.468395
1,652,3.017853,1967.64,4.065372
2,15,3.346000,50.19,4.562727